*, *:after, *:before {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #666;
	padding-top: 10rem;
	font-family: 'Roboto', sans-serif;
}

.container {
	margin: 0 auto;
	width: 60%;
}

.card {
	border-radius: 10px;
	background-color: #fff;
	padding: 1rem 1rem;
	box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
}

.btn {
	outline: none;
	background-color: #fff;
	color: #42b983;
	border: 1px solid #42b983;
	border-radius: 5px;
	font-weight: 700;
	text-transform: uppercase;
	padding: .5rem 1.5rem;
	cursor: pointer;
	transition: all 0.25s ease;
	margin-right: 1rem;
}

.btn.primary {
	background-color: #42b983;
	color: #fff;
}

.btn:active {
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .3);
}

.btn:hover {
	opacity: 0.8;
}

.preview {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0.5rem;
}

.preview-image {
	margin: 0 0.5rem 0.5rem 0;
	position: relative;
	overflow: hidden;
}

.preview-image img {
	width: 180px;
	height: 200px;
	object-fit: cover;
}

.preview-remove {
	width: 20px;
	height: 20px;
	position: absolute;
	top: -20px;
	right: 0;
	transition: top .2s ease;
	font-weight: 700;
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.preview-image:hover .preview-remove {
	top: 0;
}

.preview-info {
	padding: 0.5rem 0.3rem;
	position: absolute;
	bottom: -40px;
	left: 0;
	right: 0;
	transition: bottom .2s ease;
	font-weight: 400;
	font-size: 0.8rem;
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.preview-image:hover .preview-info {
	bottom: 0;
}

.preview-info .file-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 50%;
}

.removing {
	transform: scale(0);
	transition: transform 0.33s ease;
}